@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    --bg-color: gainsboro;
    --color: darkgoldenrod;
    --color2: white;
    --border-dot: 1px dotted black;
    --transition: all 0.3s linear normal;

    @media (min-width: 1024px){
        font-size: 16px;
    }
}

button {
    cursor: pointer;
    background: var(--bg-color);
    color: var(--color);
    transition: var(--transition);
    border-radius: 0.5rem;
    border-top: 2px solid var(--color);
    border-left: 2px solid var(--color);
    padding: 0.5rem;

    &:hover {
        background: var(--color);
        color: var(--color2);
    }
}

img {
    margin: auto;
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    border: 5px solid var(--color);
}

.title {
    margin: 3rem;
    
    h1 {
        text-align: center;
        font-size: 3rem;
        position: relative;
        margin-bottom: 1rem;
    }

    .underline {
        margin: auto;
        width: 150px;
        border-bottom: 3px solid var(--color);
    }
}

p {
    text-align: justify;
}

body {
    background: var(--bg-color);
    
}

header {
    max-width: 768px;
    margin: auto;
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem;

        @media (min-width: 500px){
            flex-direction: row;
        }
        
        & > button {
            margin: 0.2rem 0;

            @media (min-width: 500px){
                margin: 0 0.5rem;
            }
        }
    }
}

.menu {
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    place-content: center;
    
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }

    .dish {
        max-width: 550px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem;
        
        @media (min-width: 500px){
            grid-template-columns: 1fr 2fr;
        }
        
        .dish-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: var(--border-dot);
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            text-transform: capitalize;
        }
        
        .dish-price {
            color: var(--color);
            font-weight: bold;
            letter-spacing: 2px;
        }    
    }
}
